* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif;
    color: #fff;
}

:root {
    --black-bg: rgba(0, 0, 0, 0.6);
    --gray-bg: #7c7c7c2b;
    --gray-hover: #7c7c7c;
    --blue-focus: rgba(0, 237, 255, 0.8);
}

body {
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--black-bg);
    width: 95%;
    max-width: 28rem;
    border-radius: 25px;
    padding: 20px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    border: 1.5px solid var(--gray-bg);
    outline: none;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--gray-bg);
    width: calc(100% - 100px);
    font-size: 18px;
}

input:focus {
    border: 1.5px solid var(--blue-focus);
}

.lens {
    width: 20px;
}

button {
    border: none;
    padding: 10px;
    background-color: var(--gray-bg);
    border-radius: 50%;
    cursor: pointer;
}

button:hover {
    background-color: var(--gray-hover);
}

.info {
    margin-top: 30px;
}

.city {
    font-size: 28px;
}

.temperature {
    margin-top: 30px;
    font-size: 30px;
}

.info .description {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1.5rem;
}

.info .description p {
    font-family: "Farsan", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.humidity {
    margin-top: 30px;
}